<div class="WelcomeUser">
  <h1>
    Welcome {{userList.User_Name}}
  </h1>
</div>
<div class="table-responsive">
  <h2 style = "width:20%; margin-left:49%">Personal Detail</h2>
<table class="table align-middle"  id="userDetailTable">
<tbody>
<tr>
<td>First Name</td><td>{{userList.First_Name}}</td>
</tr>
<tr>
<td>Last Name</td><td>{{userList.Last_Name}}</td>
</tr>
<tr>
<td>Email</td><td>{{userList.Email}}</td>
</tr>
<tr>
<td>Gender</td><td>{{userList.Gender}}</td>
</tr>
<tr>
<td>DOB</td><td>{{userList.DOB}}</td>
</tr>
<tr>
<td>Home_Address_1:</td><td>{{userList.Home_Address_1}}</td>
</tr>
<tr>
<td>Home_Address_2:</td><td>{{userList.Home_Address_2}}</td>
</tr>
<tr>
<td>Home_City:</td><td>{{userList.Home_City}}</td>
</tr>
<tr>
<td>Home_State:</td><td>{{userList.Home_State}}</td>
</tr>
<tr>
<td>Home_Zip:</td><td>{{userList.Home_Zip}}</td>
</tr>
<tr>
<td>Phone_Number:</td><td>{{userList.Phone_Number}}</td>
</tr>
<tr>
<td>Credit_Card_Number_Hashed:</td><td>{{userList.Credit_Card_Number_Hashed}}</td>
</tr>
<tr>
<td>Expiry_Month:</td><td>{{userList.Expiry_Month}}</td>
</tr>
<tr>
<td>Expiry_Year:</td><td>{{userList.Expiry_Year}}</td>
</tr>
<tr>
<td>Security_Code:</td><td>{{userList.Security_Code}}</td>
</tr>

        </tbody>
    </table>

<div class="userContainer">

<span class="registerClass"><a href="/userDetail/userUpdate">Update Info</a></span>

<span class="registerClass"  style = "margin-left: 20px;"><a href="/userDetail/getTrans">User Transaction</a></span>
</div>

</div>
