<div class="WelcomeUser">
  <h1>
    Welcome {{userList.User_Name}}
  </h1>
</div>
<form class="userModal-content" action="/userDetail/userUpdate" method="post">
<div class="table-responsive">
  <h2 style="text-align:center;">Update Detail</h2>
<table class="table align-middle"  id="userDetailTable">
<tbody>
<tr>
<td><label for="First_Name">First Name</label></td><td><input id="First_Name" type="text" value = "{{userList.First_Name}}" placeholder="Enter Username" name="First_Name"></td>
</tr>
<tr>
<td><label for="Last_Name">Last Name</label></td><td><input id="Last_Name" type="text"  value = "{{userList.Last_Name}}" placeholder="Enter Last_Name" name="Last_Name" ></td>
</tr>
<tr>
<td><label for="Email">Email</label></td><td><input id="Email" type="text" value = "{{userList.Email}}"  name="Email" readonly></td>
</tr>
<tr>
<td><label for="Gender">Gender</label></td><td><input id="Gender" type="text" value = "{{userList.Gender}}" placeholder="Enter Gender" name="Gender" ></td>
</tr>
<tr>
<td><label for="DOB">DOB</label></td><td><input id="DOB" type="text" value = "{{userList.DOB}}" placeholder="Enter DOB" name="DOB" ></td>
</tr>
<tr>
<td><label for="Home_Address_1">Home_Address_1:</label></td><td><input id="Home_Address_1" type="text" value = "{{userList.Home_Address_1}}" placeholder="Enter Home_Address_1" name="Home_Address_1" ></td>
</tr>
<tr>
<td><label for="Home_Address_2">Home_Address_2:</label></td><td><input id="Home_Address_2" type="text" value = "{{userList.Home_Address_2}}" placeholder="Enter Home_Address_2" name="Home_Address_2"></td>
</tr>
<tr>
<td><label for="Home_City">Home_City:</label></td><td><input id="Home_City" type="text" value = "{{userList.Home_City}}" placeholder="Enter Home_City" name="Home_City" ></td>
</tr>
<tr>
<td><label for="Home_State">Home_State:</label></td><td><input id="Home_State" type="text" value = "{{userList.Home_State}}" placeholder="Enter Home_State" name="Home_State" ></td>
</tr>
<tr>
<td><label for="Home_Zip">Home_Zip:</label></td><td><input id="Home_Zip" type="text" value = "{{userList.Home_Zip}}" placeholder="Enter Home_Zip" name="Home_Zip" ></td>
</tr>
<tr>
<td><label for="Phone_Number">Phone_Number:</label></td><td><input id="Phone_Number" type="text" value = "{{userList.Phone_Number}}" placeholder="Enter Phone_Number" name="Phone_Number" ></td>
</tr>
<tr>
<td><label for="Credit_Card_Number_Hashed">Credit_Card_Number_Hashed:</label></td><td><input id="Credit_Card_Number_Hashed" type="text" value = "{{userList.Credit_Card_Number_Hashed}}" placeholder="Enter Credit_Card_Number_Hashed" name="Credit_Card_Number_Hashed"></td>
</tr>
<tr>
<td><label for="Expiry_Month">Expiry_Month:</label></td><td><input id="Expiry_Month" type="text" value = "{{userList.Expiry_Month}}" placeholder="Enter Expiry_Month" name="Expiry_Month" ></td>
</tr>
<tr>
<td><label for="Expiry_Year">Expiry_Year:</label></td><td><input id="Expiry_Year" type="text" value = "{{userList.Expiry_Year}}" placeholder="Enter Expiry_Year" name="Expiry_Year" ></td>
</tr>
<tr>
<td><label for="Security_Code">Security_Code:</label></td><td><input id="Security_Code" type="text" value = "{{userList.Security_Code}}" placeholder="Enter Security_Code" name="Security_Code" ></td>
</tr>

        </tbody>
    </table>
<button style = "width:20%; margin-left:49%" type="submit">Update</button>
</div>
</form>
