<h2 style="text-align:center;">Transaction Detail</h2>
{{#each userTrans}}

<div class="table-responsive">

<table class="table align-middle"  id="userDetailTable">
<tbody>
<tr>
<td>Theatre Name</td><td>{{Movie_Theatre_Name}}</td>
</tr>
<tr>
<td>Movie Name</td><td>{{Movie_Name}}</td>
</tr>
<tr>
<td>ShowTime</td><td>{{Showtime_Detail}}</td>
</tr>
<tr>
<td>Seats</td><td>{{Seats}}</td>
</tr>
<tr>
<td>Cost</td><td>{{Cost}}</td>
</tr>

        </tbody>
    </table>
</div>
{{/each}}
