

<label for="MovieListDropDown" class="form-label">Chose Your Movie Option</label>
<input class="form-control" list="datalistOptions2" id="MovieListDropDown" placeholder="Type to search...">
<datalist id="datalistOptions2">
    {{#each movieTheatreShowtimeDetails1 as |m|}}
    <option value="{{m.Movie_Theatre_Name}} || {{m.Movie_Name}} || {{m.Date}} ||{{m.Time}}">
    {{/each}}
</datalist>

<br>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email : </label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{userList.Email}}">
    </div>
</div>
<div class="mb-3 row">
    <label for="First_Name" class="col-sm-2 col-form-label">First Name : </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="First_Name" value="{{userList.First_Name}}">
    </div>
</div>

<div class="mb-3 row">
    <label for="Last_Name" class="col-sm-2 col-form-label">Last Name : </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="Last_Name" value="{{userList.Last_Name}}">
    </div>
</div>

<div class="mb-3 row">
    <label for="numofSeats" class="col-sm-2 col-form-label">Number of Seats : </label>
    <div class="col-sm-10">
    <input class="form-control" list="datalistOptions3" id="numofSeats" placeholder="Type to search...">
    <datalist id="datalistOptions3">
        <option value="1 = $10">
        <option value="2 = $20">
        <option value="3 = $30">
        <option value="4 = $40">
        <option value="5 = $50">
    </datalist>
    </div>
</div>

<div class="mb-3 row">
    <label for="Credit_Card" class="col-sm-2 col-form-label">Credit Card Number : </label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="Credit_Card" value="{{userList.Credit_Card}}">
    </div>
</div>

<div class="mb-3 row">
    <label for="Credit_Card_Expiry_Month" class="col-sm-2 col-form-label">Credit Card Expiry: </label>
    <div class="col-sm-10">
        <input type="month" class="form-control" id="Credit_Card_Expiry_Month" value="{{userList.Credit_Card_Expiry_Month}}">
    </div>
</div>


<div class="mb-3 row">
    <label for="Credit_Card_Security_Code" class="col-sm-2 col-form-label">Credit Card Security Code : </label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="Credit_Card_Security_Code" value="{{userList.Credit_Card_Security_Code}}">
    </div>
</div>

    <div class="clearfix">
        <button type="submit" class="checkout">CheckOut</button>
    </div>