<br>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        {{#each currentMovies}}
        {{#if @first}}
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
        {{else}}
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to={{@index}}></li>
        {{/if}}
        {{/each}}
    </ol>

    <div class="carousel-inner">
        {{#each currentMovies}}
        {{#if @first}}
        <div class="carousel-item active">
            <a href="moviedetails/{{_id}}">
                <img src={{Movie_Poster}} class="d-block w-10" alt="..."></a>
            <br><br><br><br>
            <div class="carousel-caption">
                <h5>{{Movie_Name}}</h5>
                {{!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> --}}
            </div>
        

    {{#each movieTheatreDetails as |mtd|}}
        <p>{{mtd.Movie_Theatre_Name}}</p>

        {{!-- {{#each currentShowtimes as |cs|}}
            {{#ifCond cs. "User_Ratings"}}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <br>
                    <h6>{{cs.Movie_Name}}</h6>
                    {{#each cs.MovieDetails}}
                        <button type="button" class="btn btn-primary">{{cs.Time}}</button>
                    {{/each}}
                    <br><br>
                    
                </div>
            {{/each}} --}}
    {{/each}}

