<br>
<div class="singleMovieTheatreDetails">
    <h5>{{movieTheatreDetails.Movie_Theatre_Name}}</h5>
    <br><br>
    <div class="container">
        <dl class="row">
            <dt class=".col-6 .col-md-4">Address_Line_1</dt>
            <dd class=".col-md-8">{{movieTheatreDetails.Address_Line_1}}</dd>
            <dt class=".col-6 .col-md-4">Address_Line_2</dt>
            <dd class=".col-md-8">{{movieTheatreDetails.Address_Line_2}}</dd>
            <dt class=".col-6 .col-md-4">City</dt>
            <dd class=".col-md-8">{{movieTheatreDetails.City}}</dd>
            <dt class=".col-6 .col-md-4">State</dt>
            <dd class=".col-md-8">{{movieTheatreDetails.State}}</dd>
            <dt class=".col-6 .col-md-4">Zip</dt>
            <dd class=".col-md-8">{{movieTheatreDetails.Zip}}</dd>
  
        </dl>
    </div>
    {{movieTheatreShowtimeDetails}}
</div>