<br>
<div class="singleMovieTheatreDetails">
    <h5>{{movieTheatreDetails.Movie_Theatre_Name}}</h5>
    <p class="mb-2">Been There? <a href="/movietheatrerating/{{movieTheatreDetails._id}}">Give Rating</a></p>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary rating-btn" id="showRating">Show Ratings</button>
        <button class="btn btn-secondary rating-btn" id="hideRating">Hide Ratings</button>
    </div>
    <br><br>

    <div class="theatre-ratings" id="theatreRatingDiv">
        <dl>
            <dt class=".col-6 .col-md-4">User Ratings</dt>
            <dd class=".col-md-8">
                {{ratingDetails.avgRating}}
            </dd>
            <dt class=".col-6 .col-md-4">User Reviews</dt>
            <dd class=".col-md-8">
                <ul>
                    {{#each ratingDetails.reviews}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </dd>
        </dl>
    </div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">{{timeTab.[0]}}</a>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">{{timeTab.[1]}}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">{{timeTab.[2]}}</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            {{#if movieTheatreShowtimeDetails1}}
            {{#each movieTheatreShowtimeDetails1}}
            <br>
            <h6>{{Movie_Name}}</h6>
            <img src={{Movie_Poster}}>
            {{#each MovieDetails}}
            {{!-- {{Date}} --}}
            <button type="button" class="btn btn-outline-primary" type="submit">{{Time}}</button>
            {{/each}}
            <br><br>
            {{/each}}
            {{else}}
            <p>There are no Movies playing for this date. Please check back later.</p>
            {{/if}}
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            {{#if movieTheatreShowtimeDetails2}}
            {{#each movieTheatreShowtimeDetails2}}
            <br>
            <h6>{{Movie_Name}}</h6>
            <img src={{Movie_Poster}}>
            {{#each MovieDetails}}
            {{!-- {{Date}} --}}
            <button type="button" class="btn btn-outline-primary" type="submit">{{Time}}</button>
            {{/each}}
            <br><br>
            {{/each}}
            {{else}}
            <p>There are no Movies playing for this date. Please check back later.</p>
            {{/if}}
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            {{#if movieTheatreShowtimeDetails3}}
            {{#each movieTheatreShowtimeDetails3}}
            <br>
            <h6>{{Movie_Name}}</h6>
            <img src={{Movie_Poster}}>
            {{#each MovieDetails}}
            {{!-- {{Date}} --}}
            <button type="button" class="btn btn-outline-primary" type="submit">{{Time}}</button>
            {{/each}}
            <br><br>
            {{/each}}
            {{else}}
            <p>There are no Movies playing for this date. Please check back later.</p>
            {{/if}}
        </div>
    </div>

    {{!-- {{#each movieTheatreShowtimeDetails1}}
    <br>
    <h6>{{Movie_Name}}</h6>
    <img src={{Movie_Poster}}>
    {{#each MovieDetails}}
    <p>{{Date}}</p>
    <button type="button" class="btn btn-primary">{{Time}}</button>
    {{/each}}
    <br><br>
    {{/each}} --}}





</div>