<br> <br>
<h1 id="MovieTheatresList">Movie Theatres</h1>
<br>

<div class="movietheatrelist">
        {{#each movieTheatreList}}
        <div class="blockquote">
                <a href="/movietheatredetails/{{_id}}">
                        {{Movie_Theatre_Name}}
                </a>
        </div>

        <div class="blockquote-footer">{{Address_Line_1}} {{Address_Line_2}} {{City}} {{State}} {{Zip}} <br>
                {{!-- <cite title="Source Title">Source Title</cite> --}}
        </div>

        {{/each}}

</div>