<body>
        <br>
        <div class="singleMovieDetails">
            <h5>{{movieDetails.Movie_Name}}</h5>
            <img src={{movieDetails.Movie_Poster}}>
            <dl class="row">
                <br>
                <dt class="col-sm-3">Release Date</dt> <dd class="col-sm-9">{{movieDetails.Release_Date}}</dd>
                <dt class="col-sm-3">Genre</dt> <dd class="col-sm-9">{{movieDetails.Genre}}</dd>
                <dt class="col-sm-3">Director</dt> <dd class="col-sm-9">{{movieDetails.Director}}</dd>
                <dt class="col-sm-3">Stars</dt> <dd class="col-sm-9">{{movieDetails.Stars}}</dd>
                <dt class="col-sm-3">MPAA</dt> <dd class="col-sm-9">{{movieDetails.MPAA}}</dd>
                <dt class="col-sm-3">Run Time</dt> <dd class="col-sm-9">{{movieDetails.Run_Time}}</dd>
                <dt class="col-sm-3">Plot</dt> <dd class="col-sm-9">{{movieDetails.Plot}}</dd>
                <dt class="col-sm-3">Critic Ratings</dt> <dd class="col-sm-9">{{movieDetails.Critic_Ratings}}</dd>
                <dt class="col-sm-3">User Ratings</dt> <dd class="col-sm-9">{{movieDetails.User_Ratings}}</dd>
                <dt class="col-sm-3">User Reviews</dt> <dd class="col-sm-9">{{movieDetails.User_Reviews}}</dd>
            </dl>
        </div>
        
        {{!-- <div class="row row-cols-1 row-cols-md-5 g-4" id="CurrentPlayingMovie">
            <div class="col">
                <div class="card text-center">
                    <img src={{Movie_Poster}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="MovieTitleFont">{{Movie_Name}}</div>
                    </div>
                </div>
            </div>
        </div> --}}



</body>