<br>
<div class="singleMovieDetails">
    <h5>{{movieDetails.Movie_Name}}</h5>
    <img src={{movieDetails.Movie_Poster}} alt="...">
    <br><br>
    <div class="container">
        <dl class="row">
            <dt class=".col-6 .col-md-4">Release Date</dt>
            <dd class=".col-md-8">{{movieDetails.Release_Date}}</dd>
            <dt class=".col-6 .col-md-4">Genre</dt>
            <dd class=".col-md-8">{{movieDetails.Genre}}</dd>
            <dt class=".col-6 .col-md-4">Director</dt>
            <dd class=".col-md-8">{{movieDetails.Director}}</dd>
            <dt class=".col-6 .col-md-4">Stars</dt>
            <dd class=".col-md-8">{{movieDetails.Stars}}</dd>
            <dt class=".col-6 .col-md-4">MPAA</dt>
            <dd class=".col-md-8">{{movieDetails.MPAA}}</dd>
            <dt class=".col-6 .col-md-4">Run Time</dt>
            <dd class=".col-md-8">{{movieDetails.Run_Time}}</dd>
            <dt class=".col-6 .col-md-4">Plot</dt>
            <dd class=".col-md-8">{{movieDetails.Plot}}</dd>
            <dt class=".col-6 .col-md-4">Critic Ratings</dt>
            <dd class=".col-md-8">{{movieDetails.Critic_Ratings}}</dd>
            <dt class=".col-6 .col-md-4">User Ratings</dt>
            <dd class=".col-md-8">
                <a href="/movierating/{{movieDetails._id}}">Give Rating</a>
                <ul>
                    {{#each ratingDetails}}
                    <li>{{Rating}}</li>
                    {{/each}}
                </ul>
                <p>Avg. Rating : {{avgRating}}</p>
            </dd>
            <dt class=".col-6 .col-md-4">User Reviews</dt>
            <dd class=".col-md-8">
                <ul>
                    {{#each ratingDetails}}
                    <li>{{Review}}</li>
                    {{/each}}
                </ul>
            </dd>
        </dl>
    </div>
</div>



{{!-- <div class="row row-cols-1 row-cols-md-5 g-4" id="CurrentPlayingMovie">
    <div class="col">
        <div class="card text-center">
            <img src={{Movie_Poster}} class="card-img-top" alt="...">
            <div class="card-body">
                <div class="MovieTitleFont">{{Movie_Name}}</div>
            </div>
        </div>
    </div>
</div> --}}