<body>
        <br> <br>
        <h4 id="Comingsoon"> Now Showing </h4>
        <br>

        <div class="row row-cols-1 row-cols-md-5 g-4" id="CurrentPlayingMovie">
        {{#each currentMovies}}
                <div class="col">
                        <div class="card text-center">
                        <img src={{Movie_Poster}} class="card-img-top" alt="...">
                        <div class="card-body">
                                <div class="MovieTitleFont">{{Movie_Name}}</div>
                                {{!-- <h5 class="card-title"></h5> --}}
                        </div>
                </div>
                </div>
        {{/each}}
        </div>

        <br> <br> 
        <h4 id="Comingsoon"> Coming Soon </h4>
        <br>
        <div class="row row-cols-1 row-cols-md-5 g-4" id="CurrentPlayingMovie">
        {{#each futureMovies}}
                <div class="col">
                        <div class="card text-center">
                        <a href="moviedetails/{{_id}}"">
                        <img src={{Movie_Poster}} class="card-img-top" alt="..."></a>
                        <div class="card-body">
                                <div class="MovieTitleFont">{{Movie_Name}}</div>
                                <p class="card-title"> { {{Release_Date}} }</p>
                        </div>
                </div>
                </div>
        {{/each}}
        </div>   
</body>