<br>
<div class="top1050ind"> 
    <a class="btn btn-outline-dark" href="./10" role="button">Top 10</a>
    <a class="btn btn-outline-dark" href="./50" role="button">Top 50</a>
</div>
{{!-- <a class="btn btn-primary" href="#" role="button">Link</a> --}}
<br>

<div class="table-responsive">
    <table class="table align-middle" id="topmovieslist">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Movies</th>
            </tr>
        </thead>
        <tbody>

            {{#ifCond customRating "User_Ratings"}}
                {{#each topMovies as | m |}}
                    <tr>
                    <td></td> {{!-- Leaving blank for ranking in CSS --}}
                    <td><a href="/moviedetails/{{m._id}}">
                            <img src={{m.Movie_Poster}} alt="..."></a>
                            <br>{{m.Movie_Name}}<br> (Rating = {{m.User_Ratings}})
                    </td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each topMovies as | m |}}
                <tr>
                    <td></td> {{!-- Leaving blank for ranking in CSS --}}
                    <td><a href="/moviedetails/{{m._id}}"><img src={{m.Movie_Poster}} alt="..."> </a><br>{{m.Movie_Name}}<br> (Rating = {{m.Critic_Ratings}} )</td>
                </tr>
                {{/each}}
            {{/ifCond}}

        </tbody>
    </table>
</div>
